[Unit]
Description = Apache Tomcat 7
After = syslog.target network.target
[Service]
User = tomcat
Group = tomcat
Type = oneshot
PIDFile =/usr/local/apache-tomcat-7.0.76/tomcat.pid
RemainAfterExit = yes
ExecStart =/usr/local/apache-tomcat-7.0.76/bin/startup.sh
ExecStop =/usr/local/apache-tomcat-7.0.76/bin/shutdown.sh
ExecReStart =/usr/local/apache-tomcat-7.0.76/bin/shutdown.sh;/usr/local/apache-tomcat-7.0.76/bin/startup.sh
[Install]
WantedBy = multi-user.target